.bg-body-tertiary {
    background-color: #2c3e50 !important;
}

.navbar-brand {
    color: white;
}

nav{
  transition: padding-block 0.5s ease;
}





.active{
    background-color: #1abc9c;
    border-radius: 10px;
    width: fit-content;

}

.cw{
    width: fit-content;
    border-radius: 10px;
}


@media (max-width: 992px) { 
.c-m{
    margin-block: 0.44rem;
}
 }