

.text-line-c{
    color: #2c3e50;
}

.line{
    height: 4px;
    width: 5rem;
    background-color:#2c3e50;
}

.c-pt{
    padding-top: 11rem;
}




.btn-outline-success {
    --bs-btn-color: #1abc9c;
    --bs-btn-border-color: #1abc9c;
    --bs-btn-hover-bg: #1abc9c;
    --bs-btn-hover-border-color: #1abc9c;
    --bs-btn-active-bg: #1abc9c;
    --bs-btn-active-border-color: #1abc9c;
    --bs-btn-disabled-color: #1abc9c;
    --bs-btn-disabled-border-color: #1abc9c;
} 